@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap%27');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141d38;
  color: #9ca5bf;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 6em 5em;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 25em;
  border: 1px solid #000;
  border-radius: 0.7em;
}

.imageContainer {
  width: 100%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 24vw;
  background-position-y: -10em;
  border-top-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
}

#image1 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/c/c6/Jesse_Pinkman_S5B.png/220px-Jesse_Pinkman_S5B.png');
}

#image2 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/0/03/Walter_White_S5B.png');
}

#image3 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/d/db/Hank_Schrader_S5B.png/220px-Hank_Schrader_S5B.png');
}

.contents {
  background-color: #050d26;
  padding: 2em;
}

.contents h2 {
  line-height: 1.5em;
  font-weight: 200;
}

.contents h3 {
  color: #646972;
  line-height: 1.5em;
  font-weight: 200;
}

.contents p {
  padding: 1em 0;
  color: #646972;
}

#icon2 {
  width: 5.5em;
}

#icon3 {
  width: 3.1em;
}

.lastCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lastCard button {
  width: 5%;
  height: 5%;
}

#plus {
  font-size: 4em;
}

#addText {
  font-size: 1.5em;
}

@media screen and (max-width: 1200px) {
  .imageContainer {
    background-size: cover;
    background-position: center;
  }

}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin: 1em;
    height: 55vh;
  }
}