@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    background-color: #F2F2F2;
    color: #2D72F1;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 0.1em 1.5em;
    font-size: 3.5em;
    font-weight: 1000;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 1em 7em;
}

#form {
    display: flex;
    flex-direction: column;
    width: 18em;
}

#form label {
    padding-top: 1em;
    padding-bottom: 0.2em;
    ;
}

#form select {
    height: 3em;
    font-size: 1em;
    border-radius: 0.2em;
    outline: none;
    border: 0.01em solid #2D72F1;
    box-sizing: border-box;
    padding-left: 0.5em;
}


#form input {
    height: 4.4em;
    border-radius: 0.4em;
    outline: none;
    border: 0.01em solid #2D72F1;
    outline: none;
}

#form button {
    margin-top: 2em;
    height: 3em;
    font-size: 1em;
    color: white;
    background-color: #2D72F1;
    border-radius: 0.3em;
    border: none;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: white;
    gap: 2em;
    margin-top: 4em;
    margin-bottom: 15em;
    padding: 1.5em;
    border-radius: 0.9em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.imageContainer {
    align-self: flex-start;
    border-radius: 50%;
    padding: 0.6rem;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.imageContainer img {
    width: 4em;
    height: 3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    object-fit: contain;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.priorityContainer {
    display: flex;
    justify-content: space-between;
}

.dataContainer .priorityContainer span {
    color: grey;
    font-size: 0.8em;
}

#priority {
    background-color: #F15F91;
    color: white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    font-weight: 400;
}

#taskName {
    font-size: 1.4em;
    font-weight: 400;
}

.typeContainer {
    display: flex;
    gap: 1em;
}

.typeContainer span {
    background-color: #DCDCDC;
    padding: 0.2em 1em;
    border-radius: 0.5em;
    font-size: 0.8em;
}

.bottomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13em;
}

.bottomContainer span {
    font-size: 0.8em;
}

.bottomContainer i {
    color: grey;
    font-size: 0.8em;
}